.table{
    width: 100%;
    border: solid 1px greenyellow;
    font-family: Arial;
    border-collapse: collapse;
    color: black;
    
}
tr,th,td{
    font-size: 25px;
    border: solid 1px rgb(74, 109, 20);
    padding: 5px;
    text-align: center;
}
caption{
    font-size: 30px;
}

tr:nth-child(even){
    background-color: rgba(50, 239, 43, 0.8);
}
tr{
    background-color: rgba(50, 239, 43, 0.3);
}
tr:hover{
    background-color: darkgreen;
    color: azure;
}
th{
    background-color: rgba(127, 255, 163, 0.395);
}